*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
 



.box{
    position: relative;
    border-radius: 30px;
    border: 20px solid #859AD8;
    background-color: #3556C8;
    width: 800px;
    height: 300px;
    left: 250px; 
    top: 150px; 
    padding: 50px; 
    text-align: center;
    list-style: none;
    color: white;
   
}



.btn{
    position: absolute;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    right: 190px;
    bottom: 60px;
}

.email{ 
    position: relative;
    margin-top: 25px;
    border-radius: 25px;
    width: 400px;
    height: 40px;
    background-color:#859AD8;
    text-align: center;
}

.circle{
    position: relative;
   
}
.circle-1{
    position: absolute;
    bottom: 5px;
    border: 3px solid white;
    border-radius: 50%;
    left: 100px;
    width: 50px;
    height: 50px;
    
}
.circle-2{
    position: absolute;
    bottom: 5px;
    border: 3px solid white;
    border-radius: 50%;
    left: 200px;
    width: 50px;
    height: 50px;
   
}
.circle-3{
    position: absolute;
    bottom: 5px;
    border: 3px solid white;
    border-radius: 50%;
    right: 300px;
    width: 50px;
    height: 50px;
   
}
.circle-4{
    position: absolute;
    bottom: 5px;
    border: 3px solid white;
    border-radius: 50%;
    right: 200px;
    width: 50px;
    height: 50px;
    
}
.circle-5{
    position: absolute;
    bottom: 5px;
    border: 3px solid white;
    border-radius: 50%;
    right: 100px ;
    width: 50px;
    height: 50px;
  
}
.image{
    
    width: 100%;
    height: 46px;
    border-radius: 50%;
   
}